.meals-dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px 5px 10px;
    width: 85%;
}

.meal-container {
    height: 80%;
    width: 95%;
}

.meal-container.meal-selected {
    height: 200%;
    width: 95%;
}

.add-meal-container {
    height: 14vw;
    left: 80%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14vw;
}

/* BUTTONS */

.meal-button {
    background: #C4C4C4;
    border-radius: 16px;
    box-sizing: border-box;
    margin-top: 1%;
    padding-left: 2%;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.meal-container .meal-button {
    height: 80%;
    width: 80%;
}

.meal-container.meal-selected .meal-button {
    height: 20%;
    width: 70%;
}

.add-meal-button {
    background: #C4C4C4;
    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 80%;
    width: 80%;
}

/* WRITTABLE CONTENT */

.meal-description {
    display: none;
    border-radius: 16px;
    padding-left: 2%;
    padding-top: 3%;
    resize: none;
}

.meal-container.meal-selected .meal-description {
    display: inline-block;
    height: 85%;
    width: 95%;
}