.diseases-dashboard {
    display: flex;
    flex-direction: column;
    padding: 20px 5px 10px;
    width: 85%;
}

.disease-container {
    height: 80%;
    width: 95%;
}

.diseases-container.disease-selected {
    height: 200%;
    width: 95%;
}

.add-diseases-container {
    height: 14vw;
    left: 80%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 14vw;
}

/* BUTTONS */

.disease-button {
    background: #C4C4C4;
    border-radius: 16px;
    box-sizing: border-box;
    margin-top: 1%;
    padding-left: 2%;
    transform: matrix(1, 0, 0, 1, 0, 0);
}

.disease-container .disease-button {
    height: 80%;
    width: 80%;
}

.disease-container.disease-selected .disease-button {
    height: 20%;
    width: 70%;
}

.add-disease-button {
    background: #C4C4C4;
    border-radius: 50%;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    height: 80%;
    width: 80%;
}

/* WRITTABLE CONTENT */

.disease-description {
    border-radius: 16px;
    display: none;
    padding-left: 2%;
    padding-top: 3%;
    resize: none;
}

.disease-container.disease-selected .disease-description {
    display: inline-block;
    height: 85%;
    width: 95%;
}