/* COMMON LAYOUT */

body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 0;
}

.main-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    padding: 20px;
    width: 100vw;
}

.main-header {
    height: 5%;
}

.main-body {
    display: flex;
    flex-direction: row;
    height: 70%;
}

.side-section {
    width: 15%
}

.main-footer {
    height: 20%
}

/* COMMON COMPONENTS */

.date-legend {
    left: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.btn-center {
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

.change-page-container {
    -ms-transform: translate(-50%, -50%);
    left: 50%;
    margin: 0;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}